@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(133, 133, 133);
    height: 100%;
    margin-bottom: 10px;
}

.header {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(158, 158, 158);
    display: flex;
    position: relative;
    box-shadow: -2px -11px 13px 17px black;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    font-weight: 500;
    font-size: 2rem;
}

.header-avatar {
    width: 6rem;
    height: auto;
    padding-top: .5rem;
}

.header-navs>a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-size: 1.75rem;
    background-color: #757575;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 4px rgb(110, 199, 174) solid;
    border-radius: 25px;
    font-weight: 500;
    transition: all 250ms;
}

.header-navs {
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
}

.header-navs>a:hover {
    border: 6px rgb(110, 199, 174) solid;
    box-shadow: 0px 0px 13px 0px black;
}

.nav-option-2 {
    margin-left: 2rem;
}

.nav-option {
    cursor: pointer;
}

.body-main {
    font-family: 'Poppins', sans-serif;
}

.body-head {
    display: flex;
    align-items: center;
}


.Logo-pd {
    width: 27.5rem;
    height: auto;
    margin-top: 8rem;
    margin-left: 7.5rem;
    /* box-shadow: 2px 2px 2px black; */
}

.logo-pd-svg {
    font-size: 2rem;
    width: 27.5rem;
    height: auto;
}

.btn-homepage {
    background-color: rgb(202, 202, 202);
    border: 4px rgb(110, 199, 174) solid;
    border-radius: 25px;
    /* width: 30rem;
    height: 10rem; */
    padding: 3.5rem 7.5rem;
    margin-top: 8rem;
    margin-left: 6rem;
    color: rgb(117, 117, 117);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    transition: border 250ms, border-radius 250ms, box-shadow 450ms;
}

.btn-homepage:hover {
    border: 7px rgb(110, 199, 174) solid;
    border-radius: 40px;
    box-shadow: 3px 5px 9px 0px black;
}

/* Keuze deel */
.body-keuze {
    background-color: rgb(202, 202, 202);
    width: 45rem;
    height: 90%;
    margin-left: 7.5rem;
    padding: .5rem 1.5rem;
    border-radius: 15px;
    border-bottom: 7px rgb(110, 199, 174) solid;
}